akshare==1.9.79
anyio==3.6.2
attrs==23.1.0
beautifulsoup4==4.12.2
black==23.3.0
cattrs==22.2.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
decorator==5.1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.1
fastapi==0.95.1
h11==0.14.0
html5lib==1.1
httptools==0.5.0
idna==3.4
jsonpath==0.82
lxml==4.9.2
mypy-extensions==1.0.0
numpy==1.24.3
openpyxl==3.1.2
packaging==23.1
pandas==2.0.1
pandas-ta==0.3.14b0
pathspec==0.11.1
platformdirs==3.5.0
psycopg2==2.9.6
py-mini-racer==0.6.0
pydantic==1.10.7
pypinyin==0.48.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.30.0
requests-cache==1.0.1
schedule==1.2.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
starlette==0.26.1
tabulate==0.9.0
tomli==2.0.1
tqdm==4.65.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
url-normalize==1.4.3
urllib3==2.0.2
uvicorn==0.22.0
watchfiles==0.19.0
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.3
xlrd==2.0.1
